div.fight.attack0 {
  -webkit-animation: attackGo0 1s,attackBack0 1s;
  animation: attackGo0 1s,attackBack0 1s;
}

.fight.ultimate0 {
  -webkit-animation: ultimate0 1s;
  animation: ultimate0 1s;
}

@-webkit-keyframes attackGo0 {
  from { transform: rotate(0deg); }
  to { transform: rotate(70deg); }
}

@keyframes attackGo0 {
  from { transform: rotate(0deg); }
  to { transform: rotate(70deg); }
}

@-webkit-keyframes attackBack0 {
  from { transform: rotate(70deg); }
  to { transform: rotate(0deg); }
}

@keyframes attackBack0 {
  from { transform: rotate(70deg); }
  to { transform: rotate(0deg); }
}

@-webkit-keyframes ultimate0 {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes ultimate0 {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

div.fight.attack1 {
  -webkit-animation: attackGo1 1s,attackBack1 1s;
  animation: attackGo1 1s,attackBack1 1s;
}

.fight.ultimate1 {
  -webkit-animation: ultimate1 1s;
  animation: ultimate1 1s;
}

@-webkit-keyframes attackGo1 {
  from { transform: rotate(0deg); }
  to { transform: rotate(-70deg); }
}

@keyframes attackGo1 {
  from { transform: rotate(0deg); }
  to { transform: rotate(-70deg); }
}

@-webkit-keyframes attackBack1 {
  from { transform: rotate(-70deg); }
  to { transform: rotate(0deg); }
}

@keyframes attackBack1 {
  from { transform: rotate(-70deg); }
  to { transform: rotate(0deg); }
}

@-webkit-keyframes ultimate1 {
  from { transform: rotate(0deg); }
  to { transform: rotate(-360deg); }
}

@keyframes ultimate1 {
  from { transform: rotate(0deg); }
  to { transform: rotate(-360deg); }
}

div.fight.damage i {
  -webkit-animation: damageGo 1s,damageBack 1s;
  animation: damageGo 1s,damageBack 1s;
}

@-webkit-keyframes damageGo {
  from { color: #333; }
  to { color: red; }
}

@keyframes damageGo {
  from { color: #333; }
  to { color: red; }
}

@-webkit-keyframes damageBack {
  from { color: red;}
  to { color: #333;  }
}

@keyframes damageBack {
  from { color: red;}
  to { color: #333;  }
}

div.fight.damageU i {
  -webkit-animation: damageUGo 2s,damageUBack 2s;
  animation: damageUGo 2s,damageUBack 2s;
}

@-webkit-keyframes damageUGo {
  from { color: #333; }
  to { color: red; }
}

@keyframes damageUGo {
  from { color: #333; }
  to { color: red; }
}

@-webkit-keyframes damageUBack {
  from { color: red;}
  to { color: #333;  }
}

@keyframes damageUBack {
  from { color: red;}
  to { color: #333;  }
}

.basicActionButtonList {
  display: flex;
}

div.basicActionButtonList.basicActionButtonList > * {
  margin: 0 8px;
}
