body {
  margin: 0;
  padding: 0;
}

.without-transition {
  transition: 0ms !important;
}

.cursor-clicked {
  cursor: pointer;
}

.text-center {
  text-align: center;
}

.height-25 {
  height: 25vh;
}

.height-50 {
  height: 50vh;
}

.margin-bottom-0 {
  margin-bottom: 0px;
}

.margin-top-25 {
  margin-top: 25px;
}